<div class="mix">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header menuitem">
        <div class="navbar-brand">
        </div>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "Stalk us", pages_stalkus_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li>
            <%= link_to "FAQs - About Us", pages_askthem_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li>
            <%= link_to "FAQs - About Her", pages_askher_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li>
            <%= link_to "FAQs - About Him", pages_askhim_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>

