<div class="center">
  <h5>(Click on Question for Answer)</h5>
</div>
<% question1 = "Ans  - Namrata Mehta."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What is your name?", :text => question1 %>
<% question1a = "Ans  - 1 year, 3 months and 4 days younger than him."%>
<%= render 'shared/home_briefs', :heading =>  "Q - How old are you?", :text => question1a %>
<% question2 = "Ans  - Andheri West (now in Jash's heart)."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Where do you live?", :text => question2 %>
<% question3 = "Ans  - MBA in Finance, from MIT School of Business, Pune."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What have you studied?", :text => question3 %>
<% question4 = "Ans  - Yes, one elder sister."%><%= render 'shared/home_briefs', :heading =>  "Q - Do you have siblings?", :text => question4 %>
<% question5 = "Ans  - Performance Analyst, JP Morgan and Chase."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What do you do?", :text => question5 %>
<% question6 = "Ans  - Yes, for now."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Work From Home?", :text => question6 %>
<% question7 = "Ans  - Yes."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you a Gujarati?", :text => question7 %>
<% question8 = "Ans  - Yes."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you a Jain?", :text => question8 %>
<%= render 'shared/goback' %>

