<div class="center">
  <h5>(Click on Question for Answer)</h5>
</div>
<% question1 = "Ans  - Namrata Mehta."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What is your name?", :text => question1 %>
<% question1a = "Ans  - 1 year, 3 months and 4 days younger than him."%>
<%= render 'shared/home_briefs', :heading =>  "Q - How old are you?", :text => question1a %>
<% question2 = "Ans  - Andheri West."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Where do you live?", :text => question2 %>
<% question3 = "Ans  - MBA in Finance, from MIT School of Business, Pune."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What have you studied?", :text => question3 %>
<% question4 = "Ans  - Yes, one elder sister."%><%= render 'shared/home_briefs', :heading =>  "Q - Do you have siblings?", :text => question4 %>
<% question5 = "Ans  - Performance Analyst, JP Morgan and Chase."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What do you do?", :text => question5 %>
<% question6 = "Ans  - Yes, until first quarter of the next year, at least."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Work From Home?", :text => question6 %>
<% question7 = "Ans  - Yes."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you a Gujarati?", :text => question7 %>
<% question8 = "Ans  - Yes."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you a Jain?", :text => question8 %>
<% question8a = "Ans  - No, no. We can enjoy a Vada Pav together."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you a Jain, Jain?", :text => question8a %>
<% question9 = "Ans  - ACL tear and other complications. Had to undergo a surgery. Will be okay soon."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What happened to your leg?", :text => question9 %>
<% question10 = "Ans  - Yes, basketball."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Do you play a sport?", :text => question10 %>
<% question11 = "Ans  - No, but played for the state."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Do you play for India?", :text => question11 %>
<% question11a = "Ans  - LinkedIn isn't updated, no Instagram."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Do you have any social media accounts apart from Facebook?", :text => question11a %>
<% question12 = "Ans  - No, it even reduced in the lockdown."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you ever going to put on weight?", :text => question12 %>
<% question13 = "Ans  - I don't know really. I might run away soon."%>
<%= render 'shared/home_briefs', :heading =>  "Q - How are you coping up with him?", :text => question13 %>
<div class="card-product detail detail-text">
  <div class="card-product-infos">
    <h3>Q - Do you have any single friends?</h3>
    <div class="hidden">
      <p>
        Ans  - I do.
        <a href="https://chat.whatsapp.com/BdYZOCdrrk9EQgecLGQfv1">Click on this link to find out who.</a>
        <br>
        Don't worry, join and let's all have a laugh at the very least.
      </p>
    </div>
  </div>
</div>
