<div class="center">
  <h5>(Click on Question for Answer)</h5>
</div>
<% question1 = "Ans  - Jash Shah."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What is your name?", :text => question1 %>
<% question1a = "Ans  - 1 year, 3 months and 4 days older than her."%>
<%= render 'shared/home_briefs', :heading =>  "Q - How old are you?", :text => question1a %>
<% question2 = "Ans  - Vile Parle West."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Where do you live?", :text => question2 %>
<% question3 = "Ans  - BE Chemical, DJ Sanghvi.
European Fragrance and Cosmetic Master and a Master in Business Management."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What have you studied?", :text => question3 %>
<% question4 = "Ans  - Yes, one elder sister."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Do you have siblings?", :text => question4 %>
<% question5 = "Ans  - Family Business, I manufacture food flavours, essential oils and do some construction work."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What do you do?", :text => question5 %>
<% question6 = "Ans  - We come under essential services, so we do go to office."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Work From Home?", :text => question6 %>
<% question7 = "Ans  - Yes."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you a Gujarati?", :text => question7 %>
<% question8 = "Ans  - Yes."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Are you a Jain?", :text => question8 %>
