
<div class="center">
  <h5>(Click on Question for Answer)</h5>
</div>

<% question1 = "Ans  - We met via jeevansathi.com."%>
<%= render 'shared/home_briefs', :heading =>  "Q - How did you guys meet?", :text => question1 %>
<% question3 = "Ans  - We first met in May 2020."%>
<%= render 'shared/home_briefs', :heading =>  "Q - When did you guys meet?", :text => question3 %>
<% question9 = "Ans  - We were told that it does not matter after a few years, so we did not pay attention to that."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Is this arranged or love?", :text => question9 %>
<% question11 = "Ans  - I can't believe you actually clicked on this one with hope. Though, Jash now has a baby (Namrata), and the baby needs to put on weight before she has a baby. So it will be a while."%>
<%= render 'shared/home_briefs', :heading =>  "Q - When are you going to have kids?", :text => question11 %>
<% question12 = "Ans  - No idea."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Do you think Modi will win in 2024?", :text => question12 %>
<%= render 'shared/goback' %>

