<%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1607962428/Wedding/WhatsApp_Image_2020-12-14_at_5.23.28_PM.jpg", width: "100%") %>

<div class="center">
  <h5>(Click on Question for Answer)</h5>
</div>

<% question1 = "Ans  - We met via jeevansathi.com."%>
<%= render 'shared/home_briefs', :heading =>  "Q - How did you guys meet?", :text => question1 %>
<% question2 = "Ans  - We did NOT meet on a dating portal. We really met via jeevansaathi.com."%>
<%= render 'shared/home_briefs', :heading =>  "Q - No really, how did you guys meet?", :text => question2 %>
<% question3 = "Ans  - The request was sent on 27-05-20 and accepted on 28-05-20. We first met on 30-05-20."%>
<%= render 'shared/home_briefs', :heading =>  "Q - When did you guys meet?", :text => question3 %>
<% question4 = "Ans  - Yes, it was. But we solemnly swear to have followed all rules until then and we only stayed at home.
We did get interrogated by the police then (not just that one time) and got home safe too."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Wait, wasn't the lockdown on then?", :text => question4 %>
<% question5 = "Ans  - We met several times after that. It was a mix of meeting on the streets, walking on the streets and sitting in a car on the streets for the longest time."%>
<%= render 'shared/home_briefs', :heading =>  "Q - So what followed?", :text => question5 %>
<% question6 = "Ans  - Somethings are better off as secrets."%>
<%= render 'shared/home_briefs', :heading =>  "Q - Who proposed?", :text => question6 %>
<% question7 = "Ans  - 29th November."%>
<%= render 'shared/home_briefs', :heading =>  "Q - When was the proposal?", :text => question7 %>
<% question8 = "Ans  - 7th December."%>
<%= render 'shared/home_briefs', :heading =>  "Q - When did you guys decide?", :text => question8 %>
<% question9 = "Ans  - Does it really matter?"%>
<%= render 'shared/home_briefs', :heading =>  "Q - Is this arranged or love?", :text => question9 %>
<% question10 = "Ans  - Triplets on the way already."%>
<%= render 'shared/home_briefs', :heading =>  "Q - When are you going to have kids?", :text => question10 %>
<% question11 = "Ans  - Maybe a month or two after the kids."%>
<%= render 'shared/home_briefs', :heading =>  "Q - When is the wedding?", :text => question11 %>
<% question12 = "Ans  - Really? I knew some one would care to ask this even here. But since you asked, NOT coming to your party."%>
<%= render 'shared/home_briefs', :heading =>  "Q - What are you doing for NYE?", :text => question12 %>
