
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,108,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1607962428/Wedding/WhatsApp_Image_2020-12-14_at_5.23.28_PM.jpg');">
  <div class="banner-content">

    <a href="https://youtu.be/dmOzZfJ4aQY" class="btn btn-primary btn-lg">YouTube (Live)</a>
    <!-- <h3>Join one, join all. Please do not accuse us later.</h3> -->
  </div>
</div>
<div class="margin-top"></div>
<div class="broken">
  <h5>
    Hello!
    <br>
    <br>
    In these difficult times, we hope and wish that your loved ones and you are safe and in good health. We did not have you over at our wedding, but we had you in our hearts so we have reached out to you in the most convenient way we could think of. We hope you liked the delicacies*. The wedding would have been a nicer way for the us to meet you and you to get to know the two of us, first hand. Nonetheless, we've tried our shot at whatever little we could around here. Because we know you care.
  </h5>
  <h6>
    <br>
    *If you didn't receive 'the delicacies', then you're far, far, away. Come back, माँ आपके बारे में सोचती है | OR, you're just stalking us. In which case, the next section is perfect for you (and also a lot of others, but we can't say it to them directly or with a bigger font size).
  </h6>
  <br>
  <h4>
    Gossip begins here:
  </h4>
  <br>
  <div class="btn-center">
    <%= link_to "Pictures", pages_pictures_path, class: "btn btn-flat" %>
    <br>
    <%= link_to "Meet the couple", pages_askthem_path, class: "btn btn-flat" %>
    <br>
    <%= link_to "Meet the bride", pages_askher_path, class: "btn btn-flat" %>
    <br>
    <%= link_to "Meet the groom", pages_askhim_path, class: "btn btn-flat" %>
    <br>
    <%= link_to "Social media", pages_stalkus_path, class: "btn btn-flat" %>
  </div>
  <div class="invite">
    <%#= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1607966568/Wedding/WhatsApp_Image_2020-12-14_at_4.06.43_PM.jpg", width: "100%") %>
  </div>
  <br>
  <div class="">
    <p>Sticker Design:</p>
    <a href="https://www.instagram.com/random.acts.of.art"><i class="fa fa-instagram"> - Random Acts Of Art</i></a>
    <br>
    <a href="https://www.facebook.com/therandomactsofart"><i class="fa fa-facebook"> - Random Acts Of Art</i></a>
  </div>
</div>
<br>
<!-- <div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="card" id="wedding">
      <div class="card-description">
        <h2>The Wedding</h2>
        <p>03-06-2021</p>
      </div>
      <%= link_to "", pages_wedding_path, class: "card-link" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="card" id="goldhana">
      <div class="card-description">
        <h2>Gol Dhana</h2>
        <p>15-12-2020</p>
      </div>
      <%= link_to "", pages_goldhana_path, class: "card-link" %>
    </div>
  </div>

<div class="hidden">
  <div class="col-xs-12 col-sm-6">
    <div class="card" id="party">
      <div class="card-description">
        <h2>Dance Party/Sangeet</h2>
        <p>Still hopeful that there will be one.</p>
      </div>
      <%= link_to "", pages_party_path, class: "card-link" %>
    </div>
  </div>
</div>
</div>
<div class="margin-top"></div>
-->
